/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxx Form Reset xxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

* {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

input,label,select,button,textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	font-size:13px;
	font-family:Arial;
}

input:focus {
	outline:0
}

input,textarea {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

button,input[type=reset],input[type=button],input[type=submit],input[type=checkbox],input[type=radio],select {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

input[type=checkbox],input[type=radio] {
	width:13px;
	height:13px
}

input[type=search] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box
}

::-webkit-search-decoration {
	display:none
}

button,input[type="reset"],input[type="button"],input[type="submit"] {
	overflow:visible;
	width:auto
}

::-webkit-file-upload-button {
	padding:0;
	border:0;
	background:none
}

textarea {
	vertical-align:top;
	overflow:auto
}

select[multiple] {
vertical-align:top
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxx Form Styling xxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

form * {
	transition: all 0.3s ease;
	font-size: 1em;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

form {
}

fieldset {
}

legend {
}

form div {
	margin: 25px 0;
	display: flex;
	align-items: center;
	position: relative;
}

form label {
	flex: 0 1 100px;
}

form input[type=text],
form input[type=email],
form input[type=search],
form input[type=tel],
form input[type=url],
form input[type=password],
form input[type=date],
form input[type=month],
form input[type=week],
form input[type=time],
form input[type=datetime],
form input[type=datetime-local],
form input[type=number],
form textarea  {
	flex: 1 1 auto;
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 2px;
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=search]:focus,
form input[type=tel]:focus,
form input[type=url]:focus,
form input[type=password]:focus,
form input[type=date]:focus,
form input[type=month]:focus,
form input[type=week]:focus,
form input[type=time]:focus,
form input[type=datetime]:focus,
form input[type=datetime-local]:focus,
form input[type=number]:focus,
form textarea:focus {
	background: #fff;
	border-color: #bbb;
}

form input:disabled,
form textarea:disabled {
	opacity: 0.5;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
	color: #999;
}

form input::-moz-placeholder,
form textarea::-moz-placeholder {
	color: #999;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
	color: #999;
}

form input:-moz-placeholder,
form textarea:-moz-placeholder {
	color: #999;
}

form textarea {
	height: 50px;
	resize: vertical;
}

form textarea:focus {
	height: 200px;
}

form select {
	flex: 1 1 auto;
	background: #eee url(../img/forms/select-bg.svg) right center no-repeat;
	background-size: auto 100%;
	padding: 10px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 2px;
}


form select[multiple] {
	flex: 1 1 auto;
	background: #fff;
	padding: 0px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 2px;
	height: auto;
}

form select[multiple]:focus {
	background: #fff;
}

form select[multiple] option {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

form select[multiple] option:last-of-type {
	border-bottom: none !important;
}

form select option:selected {
	background: #ddd;
}

form input[type=radio] {
	background: transparent url(../img/forms/radio-bg.svg) center top no-repeat;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

form input[type=radio]:focus,
form input[type=radio]:checked {
	background-position: center bottom;

}

form input[type=radio] {
	margin-right: 5px;
}

form span.spacer {
	margin-right: 20px;
	display: inline-block;
}

form input[type=checkbox] {
	background: transparent url(../img/forms/checkbox-bg.svg) center top no-repeat;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-position: center top;
}

form input[type=checkbox]:checked {
	background: transparent url(../img/forms/checkbox-bg.svg) center bottom no-repeat;

}

form input[type=checkbox] {
	margin-right: 5px;
}

form input[type=file] {
	background: #eee;
	padding: 15px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 2px;
}

form button[type=submit] {
	padding: 10px;
	background: #333;
	border-radius: 3px;
	color: #fff;
}

form button[type=submit]:focus {
	background: #111;
}

form label.error {
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	color: #c00 !important;
	padding: 10px 10px;
	line-height: 1.4em;
}

form input[type=text].error,
form input[type=email].error,
form input[type=search].error,
form input[type=tel].error,
form input[type=url].error,
form input[type=password].error,
form input[type=date].error,
form input[type=month].error,
form input[type=week].error,
form input[type=time].error,
form input[type=datetime].error,
form input[type=datetime-local].error,
form input[type=number].error,
form textarea.error,
form input.error {
	border: 1px solid #c00;
}

form select.error {
	background-image: none;
	border: 1px solid #c00;
}
