/* Global */

html {
	width: 100%;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: $main;
	margin: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
}

body {
	width: 100%;
	height: 100%;
	font: 15px/20px 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
}

h1,h2,h3,h4,h5 {
	margin-bottom: 0.4em;
	line-height: 1.1em;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.3em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
}

h5 {
	font-size: 1.2em;
	font-weight: bold;
}

b,
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 0.85em;
}

cite {
	font-style: italic;
}

a,
a:link,
a:visited {
	text-decoration: none;
	transition: all .25s ease;
}

a:hover {

}

a:active {

}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

iframe,
video {
	vertical-align: middle;
	max-width: 100%;
}

hr {
	margin: 25px 0;
	border: 0;
	height: 0px;
	border-top: 1px solid #ccc;
	border-bottom: none;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

ol {
	list-style-type: decimal-leading-zero;
	margin-left: 37px;
}

p,
ul,
ol,
hr,
img,
iframe,
.fluid-width-video-wrapper {
	margin-bottom: 15px;
}

p:last-child,
ul:last-child,
ol:last-child,
hr:last-child,
img:last-child,
iframe:last-child {
	margin-bottom: 0px;
}

/* Media Queries */

@media screen and (min-width:320px) { /* iPhone 1-5 */

	.inner {
		position: relative;
	}

	section.main,
	section.slider {
		background: #fff;
		clear: both;
	}

	section.slider {
		height: 160px;
		background: #333;
		color: #ddd;
	}

	section.slider .inner {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		height: 100%;
	}

	section.slider .inner h3 {
		flex: 0 0 auto;
		margin: 0;
	}

	section.main .inner {
		display: flex;
		flex-direction: column;
	}

	section.main .inner article {
		background: #eee;
		padding: 15px;
		order: 1;
	}

	section.main .inner aside {
		background: $main;
		color: #fff;
		padding: 15px;
		order: 2;
	}

	section.main .inner .bottom {
		order: 3;
	}

	section.main .inner .bottom .columns {
		display: flex;
		flex-direction: column;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		padding: 15px;

	}

	section.main .inner .bottom .columns .col-1 {
		background: #ccc;
	}

	section.main .inner .bottom .columns .col-2 {
		background: #ddd;
	}

	section.main .inner .bottom .columns .col-3 {
		background: #ccc;
	}


	footer.main {
		background: #ddd;
		margin-bottom: 100px;
	}

	footer.main .inner {
		display: flex;
		padding: 0;
		flex-direction: column;
	}

	footer.main .inner .left {
		flex: 1 1 auto;
		padding: 10px 15px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #bbb;
	}

	footer.main .inner .right {
		flex: 1 1 auto;
		padding: 15px;
		display: flex;
		justify-content: center;
	}

	footer.main .submenu {
		list-style-type: none;
		margin: 0;
		display: flex;
	}

	footer.main .submenu li {
	}

	footer.main .submenu li a {
		display: inline-block;
		padding: 10px;
		margin-right: 10px;
		color: $main-dark;
	}

	footer.main .submenu li a:hover {
		color: #222;
	}

	footer.main .submenu li:last-child a {
		margin-right: 0;
	}

}

@media screen and (min-width:375px) { /* iPhone 6 */

}

@media screen and (min-width:414px) { /* iPhone 6+ */

	section.slider {
		height: 180px;
	}

	footer.main .inner .left,
	footer.main .inner .right {
		padding: 10px 20px;
	}

	section.main .inner article {
		padding: 20px;
	}

	section.main .inner aside {
		padding: 20px;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		padding: 20px;
	}

}

@media screen and (min-width:600px) { /* Tablet 7" portrait */

	section.slider {
		height: 200px;
	}

	footer.main .inner .left,
	footer.main .inner .right {
		padding: 20px 25px;
	}

	section.main .inner article {
		padding: 25px;
	}

	section.main .inner aside {
		padding: 25px;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		padding: 25px;
	}

}

@media screen and (min-width:768px) { /* iPad portrait */

	body {
		padding-top: 99px;
	}

	section.slider {
		height: 230px;
	}

	.inner {
		margin: 0 auto;
		width: 92%;
		max-width: 1200px;
	}

	section.main {
		padding: 15px 0;
	}

	section.main article {
	}

	footer.main .inner {
		flex-direction: row;
	}

	footer.main .inner .left,
	footer.main .inner .right {
		padding: 20px 0;
		display: inline-block;
	}

	footer.main .inner .right {
		text-align: right;
	}

	footer.main .submenu li a {
		display: inline-block;
		padding: 0px;
	}

}

@media screen and (min-width:900px) { /* Tablet 7" landscape */

	section.slider {
		height: 250px;
	}

	section.main {
		padding: 20px 0;
	}

	section.main .inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	section.main .inner article {
		flex: 1 1 66.666%;
		margin-bottom: 0;
	}

	section.main .inner aside {
		flex: 0 1 33.333%;
	}

	section.main .inner .bottom {
		flex: 0 1 100%;
	}

	section.main .inner .bottom .columns {
		flex-direction: row;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		flex: 1 1 33.333%;
		border-bottom: none;
	}

	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {

	}

	footer.main .inner .left {
		border-bottom: none;
	}

}

@media screen and (min-width:1024px) { /* iPad" landscape */

	section.slider {
		height: 270px;
	}

	section.main {
		padding: 25px 0;
	}

}

@media screen and (min-width:1140px) { /* TV */

	section.slider {
		height: 290px;
	}

	section.main {
		padding: 30px 0;
	}

	section.main .inner article {
		padding: 30px;
	}

	section.main .inner aside {
		padding: 30px;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		padding: 30px;
	}

}

@media screen and (min-width:1280px) { /* TV */

	section.slider {
		height: 320px;
	}

	section.main {
		padding: 35px 0;
	}

	section.main .inner article {
		padding: 35px;
	}

	section.main .inner aside {
		padding: 35px;
	}

	section.main .inner .bottom .columns .col-1,
	section.main .inner .bottom .columns .col-2,
	section.main .inner .bottom .columns .col-3 {
		padding: 35px;
	}

}

/* Retina Support */

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (   min--moz-device-pixel-ratio: 1.5),
        only screen and (     -o-min-device-pixel-ratio: 3/2),
        only screen and (        min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 192dpi) {
        }
