@media screen and (min-width:320px) { /* iPhone 1-5 */

	.viewport {
		position: fixed;
		top: auto;
		bottom: 5px;
		left: 5px;
		right: auto;
		background: #000;
		color: #fff;
		padding: 10px;
		line-height: 1em;
		z-index: 999999999999999;
		font-size: 0.9rem;
		opacity: 0;
		transition: all .4s ease;
	}

	.viewport::after {
		content: "320px";
	}

	body:hover > .viewport {
		opacity: 1;
	}

}

@media screen and (min-width:375px) { /* iPhone 6 */

	.viewport::after {
		content: "375px";
	}

}

@media screen and (min-width:414px) { /* iPhone 6+ */

	.viewport::after {
		content: "414px";
	}

}

@media screen and (min-width:600px) { /* Tablet 7" portrait */

	.viewport::after {
		content: "600px";
	}

}

@media screen and (min-width:768px) { /* iPad portrait */

	.viewport::after {
		content: "768px";
	}

}

@media screen and (min-width:900px) { /* Tablet 7" landscape */

	.viewport::after {
		content: "900px";
	}

}

@media screen and (min-width:1024px) { /* iPad" landscape */

	.viewport::after {
		content: "1024px";
	}

}

@media screen and (min-width:1140px) { /* TV */

	.viewport::after {
		content: "1140px";
	}

}

@media screen and (min-width:1280px) { /* TV */

	.viewport::after {
		content: "1280px";
	}

}

@media screen and (min-width:1440px) { /* TV */

	.viewport::after {
		content: "1440px";
	}

}
