$main-light: #444;
$main: #333;
$main-dark: #222;
$main-darkest: #111;
$gradient: linear-gradient(to bottom, $main, $main-light);
$rounded: 5px;

@charset "utf-8";
@import "_normalize.scss";
@import "_reset.scss";
@import "_viewport.scss";
@import "_animate.scss";
@import "_font-awesome.scss";
@import "_forms.scss";
@import "_scrolltotop.scss";
@import "_navigation.scss";
@import "_global.scss";
