.scrollToTop {
	padding: 15px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.25s;
	width: 60px;
	height: 60px;
	background: #222;
	-webkit-backface-visibility: hidden;
	animation-duration: 0.35s;
	animation-delay: 0s;
}

.scrollToTop::after {
	content: "\f106";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ccc;
	font-size: 2.2em;
	position: absolute;
	top: 17px;
	left: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.scrollToTop.hide {
	opacity: 0;
	visibility: hidden;
}

.scrollToTop.show {
	opacity: 1;
	visibility: inherit;
}